html{
    overflow-x: hidden;
    max-width: 100%;
}

main {
    background-color: black;
}

.logo {
    height: 180;
} 

nav .container-fluid{
    border: none;
}

#carouselExample {
    width: 70%;
}

section .container-fluid{
    justify-items: center;
    padding: 2%;
}

#destaque {
    display: flex;
}

h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 20px;
    color: white !important;;
}

.card{
    padding: 8px;
    margin: 8px;
}

.card-text{
 height: 150px;   
 padding: 0px;
 text-align: justify;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: nowwrap;
    margin-top: calc(-1* var(--bs-gutter-y));
    margin-right: calc(-.5* var(--bs-gutter-x));
    margin-left: calc(-.5* var(--bs-gutter-x));
    justify-content: center;
}